*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 20px 5px hsla(0, 0%, 0%, 0.1);
}

.container__title {
    margin: 20px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.container__to {
    text-align: center;
}

.container__form {
    position: relative;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.container__form input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    text-align: right;
    border: none;
    border-bottom: 2px solid hsl(200, 10%, 70%);
}

.container__form input:focus {
    outline: none;
}

.container__form__dollar-label {
    position: absolute;
    top: 35%;
}

.container__form__cent-label {
    position: absolute;
    top: 35%;
}

.container__table {
    width: 380px;
    margin: 20px auto;
}


.container__table__row td {
    padding: 10px;
}

.container__table__row td:nth-child(2) {
    text-align: right;
}